/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}
@font-face {
    font-family: Montserrat-ExtraBold;
    src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf');
}
@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}
/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    font-family: Montserrat-Regular, sans-serif;
}
/*---------------------------------------------*/

a {
    font-family: Montserrat-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
a:focus {
    outline: none !important;
}
a:hover {
    text-decoration: none;
    color: #fff;
}
/*---------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}
p {
    font-family: Montserrat-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}
ul, li {
    margin: 0px;
    list-style-type: none;
}
/*---------------------------------------------*/

input {
    outline: none;
    border: none;
}
textarea {
    outline: none;
    border: none;
}
textarea:focus, input:focus {
    border-color: transparent !important;
}
input:focus::-webkit-input-placeholder {
    color: transparent;
}
input:focus:-moz-placeholder {
    color: transparent;
}
input:focus::-moz-placeholder {
    color: transparent;
}
input:focus:-ms-input-placeholder {
    color: transparent;
}
textarea:focus::-webkit-input-placeholder {
    color: transparent;
}
textarea:focus:-moz-placeholder {
    color: transparent;
}
textarea:focus::-moz-placeholder {
    color: transparent;
}
textarea:focus:-ms-input-placeholder {
    color: transparent;
}
input::-webkit-input-placeholder {
    color: #999999;
}
input:-moz-placeholder {
    color: #999999;
}
input::-moz-placeholder {
    color: #999999;
}
input:-ms-input-placeholder {
    color: #999999;
}
textarea::-webkit-input-placeholder {
    color: #999999;
}
textarea:-moz-placeholder {
    color: #999999;
}
textarea::-moz-placeholder {
    color: #999999;
}
textarea:-ms-input-placeholder {
    color: #999999;
}
/*---------------------------------------------*/

button {
    outline: none !important;
    border: none;
    background: transparent;
}
button:hover {
    cursor: pointer;
}
iframe {
    border: none !important;
}
/*//////////////////////////////////////////////////////////////////
[ Utility ]*/

.txt1 {
    font-family: Montserrat-Regular;
    font-size: 16px;
    color: #cccccc;
    line-height: 1.4;
}
.bo1 {
    border-bottom: 1px solid #999999;
}
.hov1:hover {
    border-color: #d33f8d;
}
/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}
.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-image: url("../images/fondo.png");
    background-size: 100% 100%;
    position: relative;
    z-index: 1;
}
.divLogin {
    background-repeat: no-repeat;
    background-image: url("../images/fondo_ingreso_50.png");
    background-position: top;
}
.container-login100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.wrap-login100 {
    width: 390px;
    background: transparent;
}
/*------------------------------------------------------------------
[  ]*/

.login100-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.login100-form-title {
    font-family: Montserrat-ExtraBold;
    font-size: 24px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
}
/*---------------------------------------------*/

.login100-form-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
.login100-form-avatar img {
    width: 100%;
}
/*---------------------------------------------*/

.wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
}
.input100 {
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.2;
    color: #333333;
    display: block;
    width: 100%;
    background: #fff;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 53px;
}
/*------------------------------------------------------------------
[ Focus ]*/

.focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(0, 91, 234, 0.6);
}
.input100:focus+.focus-input100 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}
@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 80px 30px;
        opacity: 0;
    }
}
@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 80px 30px;
        opacity: 0;
    }
}
.symbol-input100 {
    font-size: 15px;
    color: #999999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 30px;
    pointer-events: none;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.input100:focus+.focus-input100+.symbol-input100 {
    color: #00c6fb;
    padding-left: 23px;
}
/*------------------------------------------------------------------
[ Button ]*/

.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.login100-form-btn {
    width: 100%;
    height: 55px;
    border-radius: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/ingresar_btn_activo.png");
}
.login100-form-btn::before {
    background-image: url("../images/ingresar_btn_activo.png");
}
.login100-form-btn:hover {
    background-image: url("../images/ingresar_btn.png");
}
.login100-form-btn:hover:before {
    opacity: 1;
}
/*------------------------------------------------------------------
[ Button sign in with ]*/

.btn-face, .btn-google {
    font-family: Raleway-Bold;
    font-size: 16px;
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((100% - 10px) / 2);
    height: 40px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.btn-face {
    color: #3b5998;
}
.btn-face i {
    font-size: 20px;
    margin-right: 10px;
    padding-bottom: 1px;
}
.btn-google {
    color: #555555;
}
.btn-google img {
    width: 19px;
    margin-right: 10px;
    padding-bottom: 1px;
}
.btn-face:hover, .btn-google:hover {
    border-color: #d33f8d;
}
/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}
.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 14px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;
    font-family: Montserrat-Bold;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}
.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px;
}
.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}
@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}
/*//////////////////////////////////////////////////////////////////
[ responsive ]*/

@media (max-width: 576px) {
    .wrap-login100 {
        padding-top: 80px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
/*//////////////////////////////////////////////////////////////////
[ contenido ]*/

.div-contenido {
    background-image: url("../images/contenido.png");
    background-size: 100% 100%;
    width: 80%;
    height: 600px;
}
.div-menu {
    background-image: url("../images/menu.png");
    background-size: 100% 100%;
    width: 20%;
    height: 600px;
}
.etiquetas {
    background-color: #7B7D7D;
    color: white;
    padding: 4px;
    width: 100%;
}
.cajas {
    background-color: #c3c3c3;
}
.mGrid {
    width: 100%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #525252;
    border-collapse: collapse;
}
.mGrid td {
    padding: 2px;
    border: solid 1px #c1c1c1;
    color: #717171;
}
.mGrid th {
    padding: 4px 2px;
    color: #fff;
    background: #424242 url(grd_head.png) repeat-x top;
    border-left: solid 1px #525252;
    font-size: 0.9em;
}
.mGrid .alt {
    background: #fcfcfc url(grd_alt.png) repeat-x top;
}
.mGrid .pgr {
    background: #424242 url(grd_pgr.png) repeat-x top;
}
.mGrid .pgr table {
    margin: 5px 0;
}
.mGrid .pgr td {
    border-width: 0;
    padding: 0 6px;
    border-left: solid 1px #666;
    font-weight: bold;
    color: #fff;
    line-height: 12px;
}
.mGrid .pgr a {
    color: #666;
    text-decoration: none;
}
.mGrid .pgr a:hover {
    color: #000;
    text-decoration: none;
}
/*Clase de tabla*/
.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}
.cliente {
    font-size: 28px;
    font-weight: bold;
}
.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 1px solid #006699;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

    .datagrid table td, .datagrid table th {
        padding: 3px 10px;
    }

    .datagrid table thead th {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
        background: -moz-linear-gradient( center top, #006699 5%, #00557F 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
        background-color: #006699;
        color: #ffffff;
        font-size: 15px;
        font-weight: bold;
        border-left: 1px solid #0070A8;
    }

        .datagrid table thead th:first-child {
            border: none;
        }

    .datagrid table tbody td {
        color: #00496B;
        border-left: 1px solid #E1EEF4;
        font-size: 12px;
        font-weight: normal;
    }

    .datagrid table tbody .alt td {
        background: #E1EEF4;
        color: #00496B;
    }

    .datagrid table tbody td:first-child {
        border-left: none;
    }

    .datagrid table tbody tr:last-child td {
        border-bottom: none;
    }

    .datagrid table tfoot td div {
        border-top: 1px solid #006699;
        background: #E1EEF4;
    }

    .datagrid table tfoot td {
        padding: 0;
        font-size: 12px
    }

        .datagrid table tfoot td div {
            padding: 2px;
        }

        .datagrid table tfoot td ul {
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: right;
        }

    .datagrid table tfoot li {
        display: inline;
    }

        .datagrid table tfoot li a {
            text-decoration: none;
            display: inline-block;
            padding: 2px 8px;
            margin: 1px;
            color: #FFFFFF;
            border: 1px solid #006699;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
            background: -moz-linear-gradient( center top, #006699 5%, #00557F 100% );
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
            background-color: #006699;
        }

    .datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover {
        text-decoration: none;
        border-color: #006699;
        color: #FFFFFF;
        background: none;
        background-color: #00557F;
    }

div.dhtmlx_window_active, div.dhx_modal_cover_dv {
    position: fixed !important;
}
.tabla {
    width: 100%;
    background: #CFEDF7;
    border: solid 1px black;
    font-family: Arial;
    font-size: 10pt;
    font-weight: bold;
    text-align:center;
}
    .tabla th {
        background: #0096C8;
        color:white;
    }

.tabla2 {
    width: 1000px;
    background: #CFEDF7;
    border: solid 1px black;
    font-family: Arial;
    font-size: 10pt;
    font-weight: bold;
}

    .tabla th {
        background: #0096C8;
        color: white;
    }
.contadores {
    background-color:transparent;
    font-weight:bold;
}
.obligatorio {
    border: 2px solid red;
}
.documento {
    font-size: 20px;
    font-weight: bold;
}